<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <body>
    <meta charset="UTF-8">
    <title>show all </title>
    <form th:method="GET" th:action="@{/ppl/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>
<a th:href="@{/ppl/all}">all ppl</a>
<a th:href="@{/ppl/create}">create new ppl </a>
</body>
</html>